
<!--<nav class="navbar navbar-default">

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

<h1>Menu</h1>

    <div class="navigation col-lg-12" >
        <nav class="navbar navbar-default">
          <div class="container-fluid">
   
            <ul class="nav navbar-nav">
            <span class="glyphicon glyphicon-home"></span>
            <a [routerLink]= "['/cliente']"> Cliente</a>
           
            <span class="glyphicon glyphicon-list-alt"></span>
            <a [routerLink]= "['/tarea']"> Tarea </a>

            <span class="glyphicon glyphicon-stats"></span>
            <a [routerLink]= "['/estatus']"> Estatus Tarea </a>

            <span class="glyphicon glyphicon-book"></span>
            <a [routerLink]= "['/tipo']"> Tipo Tarea </a>

            <span class="glyphicon glyphicon-user"></span>
            <a [routerLink]= "['/usuario']"> Usuario </a>
            </ul>
          </div>
    </nav>
</div>-->

<br><br><br><br>
<div class="col-lg8 col-lg-offset-2">
    <div class="jumbotron">
        <h1>Bienvenido</h1>
    </div>
</div>

<br><br>
<div class="span6 fondo-color">

<div class="col-md-9">
        <h2 class="featurette-heading">Lleva un control de tus tareas. <span class="text-muted">Tareas en el trabajo.</span></h2>
        <p class="lead">Registra tus tareas como usuario.</p>
      </div>
<br>      
<div class="col-lg-4">
        
        <img src="../assets/imagenes/tarea.png" class="img-thumbnail" alt="...">
<img src="../assets/imagenes/estatus.png" class="img-thumbnail" alt="...">
        
    <h2>Tareas</h2>
    <p>Consulta tus tareas y lleva un registro de ellas.</p>
    <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
  </div>
  </div>
<br>
<br>

     