<menunav></menunav>

    <div class="span6 fondo-color">
        <!--color linea del menu-->
        <nav class="navbar navbar-light" color="purple;" style="background-color: #90A5B3;">
                <a class="navbar-brand">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
                    Nuevo Tipo de Tarea</button>                             
                </a>
            <!--Buscador-->
                <form class="form-inline">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                  #ipcTipo="ngModel" name="ipcBusqueda" [(ngModel)]='ipcBusqueda'>
                  <button class="btn btn-outline-primary my-2 my-sm-0" (click)="busqueda()"  type="button">Search</button>
                </form>
              </nav>
 
    <div class="text" >
    <div class="container-fluid">

        <!-- Modal -->
    <form #formNuevo= "ngForm" (ngSubmit)= "crear()" id= "formnuevo">
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Registra una nuevo tipo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
            <div class="modal-body">                                            
                <div class="form-group ">
                    <p>
                        <label>Tipo de Tarea</label>
                        <input type="text" class="form-control" placeholder="Nombre del tipo de tarea" required autofocus
                        #cTipo="ngModel" name="cTipo" [(ngModel)] = "_nuevo.cTipo"><!--_nuevo es elobjeto y cCliente el campo-->
                    </p>
                </div>   
            </div>
     <br><br>
     
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" (click)="refresh()"  class="btn btn-primary">Guardar</button>
                </div>
            </div>          
        </div>
    </div>
</form>
<br><br>
    <div class="col-lg-10">
        <table class="table table table-bordered table-hover " >
            <thead class="thead-striped">
                <tr class="table-primary" >
                    <th>Id Tipo Tarea</th>
                    <th>Tipo de Tarea</th>
                    <th>Activo</th>
                </tr>
            </thead>
            <tbody>
                <!-- imprime valores variable html let of array ts-->
                <tr *ngFor="let ctTipoTarea of _catTipoTareas"> 
                    <td>{{ctTipoTarea.iTipo}}</td>
                    <td>{{ctTipoTarea.cTipo}}</td>                   
                    <td>{{ctTipoTarea.lActivo ? "Si":"No"}} </td>

                    
                    <!--Modal-- Formulario para Editar ccc-->              
                    <td> <button type="text" value="Texto" readonly  (click)="registro(ctTipoTarea.iTipo)" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#modificar">
                            Editar</button> 
                            
                            <form class="form-row" #formEditar ="ngForm" id ="formEditar" (ngSubmit) = "modificar()">
                              <div class="modal fade" id="modificar"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Tipo de tarea</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div> 
                                        <div class="modal-body">
                                          <div class="form-group ">
                                              <p>
                                                  <label>ID</label>
                                                  <input type="text" readonly onmousedown="return false;" class="form-control" placeholder="Nombre del estatus" required autofocus
                                                  #iTipo="ngModel" name="iTipo" [(ngModel)]= "_catTipoTarea.iTipo">
                                                                                                    
                                              </p>
                                            <p>
                                              <label>Estatus</label>
                                              <input type="text" class="form-control" placeholder="Nombre del estatus" required autofocus
                                              #cTipo="ngModel" name="cTipo"  [(ngModel)] = "_catTipoTarea.cTipo" >                                                                                      
                                            </p>
                                            <p>
                                              <label>Activo</label>
                                              <input type="checkbox" readonly onmousedown="return false;"  aria-label="Text input with checkbox" required autofocus
                                              #lActivo="ngModel" name="lActivo"   [(ngModel)] = "_catTipoTarea.lActivo" >                                                                                      
                                            </p>
                                          </div>
                                              
                                          <br>                      
                                          </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                              <button type="submit" (click)="refresh()" class="btn btn-primary">Guardar</button>
                                            </div>
                                      </div>    
                                  </div>
                              </div>
                            </form>                  
                        </td>
                    <td>                    
                        <a href="#exampleModal-{{ctTipoTarea.iTipo}}" role="button" 
                            class="btn btn-sm btn-danger" data-toggle="modal" >
                            Eliminar
                        </a>                          
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal-{{ctTipoTarea.iTipo}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Eliminar cliente</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        ¿Estas seguro que quieres borrar la tarea  
                                        <strong>{{ctTipoTarea.iTipo}} {{ctTipoTarea.cTipo}}</strong> ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                        <button type="submit" (click)="eliminar(ctTipoTarea.iTipo)" (click)="refresh()" class="btn btn-danger">Eliminar</button>
                                    </div>
                                </div>
                            </div>
                        </div>                          
                    </td>

                </tr>                    
            </tbody>
        </table>
   </div>
</div>
<br><br><br>


          
            