.fondo-color{
    padding: 50px 100px 100px 100px;
    background: linear-gradient(132deg, #6c8399, #A3CCE1, #CCC5CF  , #CEF6F5, #629DBC, #A3CCE1,#7CBDD4, #6c8399, #CCC5CF, #ECC3D3,
    #4293A4, #C0D2E4, #CEF6F5, #A3CCE1  , #CCC5CF  ,#DFCBF2  , #629DBC,#6c8399,#A4DEE9  , #7CBDD4, #6c8399  ,#ECC3D3, #A3CCE1, #6c8399  );
    background-size: 400% 400%;
    animation: BackgroundGradient 30s ease infinite;
}
.text{ 
    background: #CDCFD0;
    margin-top: 5px; 
    color: black;
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0; 
    left: 0;
    z-index: 1030;

}
.bg-dark {
    background-color: #6c8399!important;
}
@media (min-width: 768px)
.navbar-expand-md {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;

}

#bg-img {
  position: relative; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  width: 20%;
  min-width: 5%;
  min-height: 5%;
}



  