<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="text-center" >
        <h1>Cliente</h1> 
    </div>     
</nav> 
<div class="span6 fondo-color" >
    <div class="text" >
    <div class="container-fluid">

                           
    <div class="container">          
        <img src="../assets/imagenes/uni.png" alt="..." class="img-rounded">
        <img src="../assets/imagenes/mojarra.png" alt="..." class="img-rounded">


        <form> 
                <div class="form-group ">

            <p>
                <label>Cliente</label>
                <input type="text" class="form-control" placeholder="Nombre Cliente" required autofocus>
            </p>

            <p>
                <label>Razon Social</label>
                <input type="text" class="form-control" placeholder="Razon Social" required/>
            </p>
        <div class="container">
            <p>
                <label> 
                    <input type="checkbox" value="Activo"> Activo
                    <input type="checkbox" value="Inactivo"> Inactivo
                </label>
            </p>
</div>
            <input type="submit" value="Guardar" class="btn btn-success"/>
            </div>
        </form>

        <button (click)="lista()">Prueba </button>
</div>
