<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="text-center" >
        <h1>Cliente</h1> 
    </div>     
</nav> 
<div class="span6 fondo-color" >
    <div class="text" >
    <div class="container-fluid">

                           
    <div class="container">          
        <img src="../assets/imagenes/uni.png" alt="..." class="img-rounded">
        <img src="../assets/imagenes/mojarra.png" alt="..." class="img-rounded">


        <form> 
                <div class="form-group ">

            <p>
                <label>Cliente</label>
                <input type="text" class="form-control" placeholder="Nombre Cliente" required autofocus>
            </p>

            <p>
                <label>Razon Social</label>
                <input type="text" class="form-control" placeholder="Razon Social" required/>
            </p>
        <div class="container">
            <p>
                <label> 
                    <input type="checkbox" value="Activo"> Activo
                    <input type="checkbox" value="Inactivo"> Inactivo
                </label>
            </p>
</div>
            <input type="submit" value="Guardar" class="btn btn-success"/>
            </div>
        </form>

        <button (click)="lista()">Prueba </button>
</div>
<!--<div class="row">
    <div class="sidebar " data-examle-id="sample-nav-stacked">
        <ul class="nav nav-pills nav-stacked nav-pill-stacked-example">
            <li role="presentation">
                <a [routerLink]="['lista']">Listado</a>
            </li>
            <li role="presentation">
                <a [routerLink]="['crear']">Listado</a>
            </li>
            

        </ul>
    </div>
</div>-->

<br><br>
<div class="row">
    <div class="col-2">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true" >listado</a>
        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">agrega</a>
        </div>
    </div>
    <div class="col-lg-10">
     <!-- <div class="tab-content" id="v-pills-tabContent">-->
            <table class="table table-hover">
                <thead class="thead-default">
                    <tr>
                        <th>Nombre</th>
                        <th>Razon S.</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let n of numbers; let i = index"> <!--hace una iteracion y agrega un # de indice-->
                       <td>{{i + 1 }} Mojarra</td> 
                       <td>MojMfeliz2555</td>
                       <br>
                            <button [routerLink]="['lista']"class="btn btn-sm btn-success">
                                Editar 
                            </button> 
                            <button class="btn btn-sm btn-primary">
                                 Editar
                            </button> 
                            <button  class="btn btn-sm btn-danger">
                                 Eliminar
                            </button> 
                            
                    </tr>
                </tbody>
            </table>
       </div>
    </div>
  </div>