
  
 <body>  
    <section style="height: 200vh;">
      <div class="titulo">
        <b style="font-size: 101px; text-align: center; margin-bottom: -21px; display: block;">Task</b>
    </div><section>

<form class="form-signin" #loginForm="ngForm" id="loginForm">
    <div class="container">
        <div class="d-flex justify-content-center h-100">
          <div class="card">
            <div class="card-header">
                <div class="col-lg-4">
                  <img  src="../assets/imagenes/logo.png" ass="img-thumbnail" alt="..." >
                </div>
            </div>
            <div class="card-body">
              <br>
              <form>
               
                <div class="input-group form-group">
                  <label for="inputUsuario" class="sr-only">User</label>
                  <input type="text" id="inputUsuario" class="form-control" placeholder="User" required autofocus
                   name="ipcUsuario" [(ngModel)]='ipcUsuario'>                  
                </div>

                <div class="input-group form-group">                 
                  <label for="inputPassword" class="sr-only">Password</label>
                  <input type="password" id="inputPassword" class="form-control" placeholder="Password" required
                   name="ipcPassword" [(ngModel)]='ipcPassword'>               
                </div>
                

                <div class="row align-items-center remember">
                  <input type="checkbox">Remember Me
                </div>
                <div class="form-group">
                  <div class="toast-success">
                  <input type="submit" value="Ingresar" (click)="click()" class="btn btn-outline-primary float-right login_btn">
                </div>  </div>            
              </form>
            </div>
         <!--div class="card-footer">
              <div class="d-flex justify-content-center links">
               <a href="#">Sign Up</a>
              </div>
            </div>-->
          </div>
        </div>
    </div>
</form>
