<menunav></menunav>


    <div class="span6 fondo-color">
        <!--color linea del menu-->
        <nav class="navbar navbar-light" color="purple;" style="background-color: #90A5B3;">
            <a class="navbar-brand">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
                Nueva Tarea</button>                      
            </a>
            <!--Buscador-->
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                #ipcActividad="ngModel" name="ipcBusqueda" [(ngModel)]='ipcBusqueda'>
                <button class="btn btn-outline-primary my-2 my-sm-0" (click)="busqueda()" type="submit">Search</button>
            </form>
        </nav>
    <div class="text" >     
  
        <div class="container-fluid">                
          <!-- Modal -->
        <form #formNuevo = "ngForm"  (ngSubmit) = "crear()"  id = "formNuevo">
          <div class="modal fade-md" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Registra una nueva Tarea</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                    <div class="modal-body">          
                        <div class="modal-body">
                                <div class="form-row">         
                                                                                                                               
                                    <div class="form-group col-md-3">
                                        <section>
                                            <label for="Clientes">Clientes</label>
                                            <select class="btn btn-outline-info" #_nuevo.iCliente="ngModel" name="iCliente" [(ngModel)] = "_nuevo.iCliente">              
                                                <option *ngFor="let catCliente of _catClientes" [value]="catCliente.iCliente">
                                                    <span>{{ catCliente.cCliente }}</span>
                                                </option>
                                            </select>
                                        </section>
                                    </div>
                                        
                                    <div class="form-group col-md-3">
                                        <section>
                                            <label for="Usuarios">Usuarios</label>
                                            <select class="btn btn-outline-info"  #_nuevo.iUsuario="ngModel" name="iUsuario" [(ngModel)] = "_nuevo.iUsuario" >
                                                <option *ngFor="let catUsuario of _catUsuarios" [value]="catUsuario.iUsuario">
                                                    <span>{{ catUsuario.cUsuario }}</span>
                                                </option>
                                            </select>
                                        </section>
                                    </div>  

                                    <div class="form-group col-md-3">
                                        <section>
                                            <label for="Estatus">Estatus</label>
                                            <select class="btn btn-outline-info"  #_nuevo.iEstatus="ngModel" name="iEstatus" [(ngModel)] = "_nuevo.iEstatus">
                                                <option *ngFor="let catEstTarea of _catEstTareas" [value]="catEstTarea.iEstatus">
                                                    <span>{{ catEstTarea.cEstatus }}</span>
                                                </option>
                                            </select>
                                        </section>
                                    </div>   

                                    <div class="form-group col-md-4">
                                        <section>
                                            <label for="TipoTarea">Tipo de Tarea</label>
                                            <select class="btn btn-outline-info"  #_nuevo.iTipo="ngModel" name="iTipo" [(ngModel)] = "_nuevo.iTipo">
                                                <option *ngFor="let catTipoTarea of _catTipoTareas" [value]="catTipoTarea.iTipo">
                                                    <span>{{ catTipoTarea.cTipo }}</span>
                                                </option>
                                            </select>
                                        </section>
                                    </div>                                                                                                                
                                </div>                                                                                                                                                                                                     

                            <div class="form-row">                                          
                                    
                                <div class="form-group col-md-6">
                                    <label>Responsable</label>
                                    <input type="text" class="form-control" placeholder="Responsable" required autofocus
                                    #_nuevo.cResponsable="ngModel" name="cResponsable" [(ngModel)] = "_nuevo.cResponsable">                                                 
                                </div>
                                                                          
                                <div class="form-group col-md-6">
                                    <label>Actividad</label>
                                    <input type="test" class="form-control" placeholder="Actividad" required
                                    #_nuevo.cActividad="ngModel" name="cActividad" [(ngModel)]= "_nuevo.cActividad">                                                 
                                </div>   
                            </div>
                                
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label>Solicitante</label>
                                    <input type="text" class="form-control" placeholder="Solicitante" required
                                    #_nuevo.cSolicitante="ngModel" name="cSolicitante" [(ngModel)]= "_nuevo.cSolicitante">                                                                                                       
                                </div>

                                <div class="form-group col-md-2">
                                    <label>Avance</label>
                                    <input type="text" class="form-control" placeholder="Avance" required
                                    #_nuevo.deAvance="ngModel" name="deAvance" [(ngModel)]= "_nuevo.deAvance">                    
                                </div> 

                                <div class="form-group col-md-3">
                                    <label>Fecha de Solicitud</label>
                                    <input type="date" class="form-control" placeholder="Fecha de solicitud" required
                                    #_nuevo.dtSolicitud="ngModel" name="dtSolicitud" [(ngModel)] = '_nuevo.dtSolicitud'>                                                  
                                </div>
                                        
                                <div class="form-group col-md-3">
                                    <label>Fecha de Inicio</label>
                                    <input type="date" class="form-control" placeholder="Fecha de Inicio" required
                                    #_nuevo.dtInicio="ngModel" name="dtInicio" [(ngModel)] = '_nuevo.dtInicio'>                                                    
                                </div>                                                                                                                                                                                                  
                            </div>
                                
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Descripcion</label>
                                    <input type="Observaciones" class="form-control" placeholder="descripcion" required
                                        #_nuevo.cDescripcion="ngModel" name="cDescripcion" [(ngModel)]= "_nuevo.cDescripcion">
                                </div>     

                                <div class="form-group col-md-6">
                                    <label>Observaciones</label>
                                    <textarea type="Observaciones" class="form-control" placeholder="Nota" required
                                    #_nuevo.cNota="ngModel" name="cNotas" [(ngModel)]= "_nuevo.cNota"></textarea>                    
                                </div>                                                                                           
                            </div>    
                        </div>
                                    
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="submit" (click)="refresh()" class="btn btn-primary">Guardar</button>                                                   
                        </div>                                                                                                                      
                    </div>          
                </div>
            </div>
          </div>
       </form>

<br><br> 

    <div class="table-responsive-xl"> 
        <table class="table table-hover" >
          
                <tr class="table-primary">
                    <th>Id Tarea</th>
                    <th>Id Cliente</th>
                    <th>Responsable</th>
                    <th>Actividad</th>
                    <th>Nota</th>                           
                     <!--<th>Estatus</th>
                    <th>Usuario</th>
                    <th>Tipo de tarea</th>-->
                    <th>Descripcion</th>
                    <th>Fecha de Solicitud</th>
                    <th>Fecha de Inicio</th>
                    <th>Solicitante</th>
                    <th>Avance</th>
                </tr>

                <tbody> 
                    <!-- imprime valores variable html let of array ts-->
                    <tr *ngFor="let opTarea of _opeTareas " > 
                        <td>{{opTarea.iTarea}}</td>
                        <td>{{opTarea.iCliente}}</td>
                        <td>{{opTarea.cResponsable}}</td>
                        <td>{{opTarea.cActividad}}</td>
                        <td>{{opTarea.cNota}}</td>
                        <!--<td>{{opTarea.dtCreacion}}</td>
                        <td>{{opTarea.dtModificacion}}</td>
                        <td>{{opTarea.dtTerminado}}</td>
                        <td>{{opTarea.iEstatus}}</td>
                        <td>{{opTarea.iUsuario}}</td>-->
                        <td>{{opTarea.cDescripcion}}</td>
                        <td>{{opTarea.dtSolicitud}}</td>
                        <td>{{opTarea.dtInicio}}</td>
                        <td>{{opTarea.cSolicitante}}</td>
                        <td>{{opTarea.deAvance}}</td>
                    <td>
                    <!--Modal-- Formulario para Editar ccc-->               
                                                                                         
                            <form class="form-row" #formEditar ="ngForm" id ="formEditar" (ngSubmit) = " modificar()">
                                <div class="modal fade-md " id="modificar"  tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-xl">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="myLargeModalLabel">Tarea</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div> 
                                        <div class="modal-body">
                                            <div class="form-row">         
                                                <div class="form-group col-md-0">
                                                    <label for="ID">ID</label></div>
                                                    <div class="form-group col-sm-1">
                                                        <input type="text" readonly onmousedown="return false;" class="form-control" placeholder="ID de la tarea" required autofocus
                                                        #_opeTarea.iTarea="ngModel" name="iTarea" [(ngModel)]= "_opeTarea.iTarea">                                                                                                                 
                                                    </div>
                                                                                                                                           
                                                <div class="form-group col-md-3">
                                                    <section>
                                                        <label for="Clientes">Clientes</label>                                 
                                                            <select class="btn btn-outline-info"  #_nuevo.iCliente="ngModel" name="iCliente" [(ngModel)] = "_opeTarea.iCliente"   >
                                                                <option *ngFor="let catCliente of _catClientes"   [value]="catCliente.iCliente"   >
                                                                    <span>{{ catCliente.cCliente }}</span>
                                                                </option>
                                                            </select>
                                                    </section>
                                                </div>
                                                    
                                                <div class="form-group col-md-3">

                                                    <section>
                                                        <label for="Usuarios">Usuarios</label>
                                                        <select class="btn btn-outline-info"  #_nuevo.iUsuario="ngModel" name="iUsuario" [(ngModel)] = "_opeTarea.iUsuario" >
                                                            <option *ngFor="let catUsuario of _catUsuarios" [value]="catUsuario.iUsuario">
                                                                <span>{{ catUsuario.cUsuario }}</span>
                                                            </option>
                                                        </select>
                                                    </section>
                                                </div>    

                                                <div class="form-group col-md-3">
                                                    <section>
                                                        <label for="Estatus">Estatus</label>
                                                        <select class="btn btn-outline-info" #_nuevo.iEstatus="ngModel" name="iEstatus" [(ngModel)] = "_opeTarea.iEstatus">
                                                            <option *ngFor="let catEstTarea of _catEstTareas" [value]="catEstTarea.iEstatus">
                                                                <span>{{ catEstTarea.cEstatus }}</span>
                                                            </option>
                                                        </select>
                                                    </section>
                                                </div>   

                                                <div class="form-group col-md-4">
                                                    <section>
                                                        <label for="TipoTarea">Tipo de Tarea</label>
                                                        <select class="btn btn-outline-info" #_nuevo.iTipo="ngModel" name="iTipo" [(ngModel)] = "_opeTarea.iTipo">
                                                            <option *ngFor="let catTipoTarea of _catTipoTareas" [value]="catTipoTarea.iTipo">
                                                                <span>{{ catTipoTarea.cTipo }}</span>
                                                            </option>
                                                        </select>
                                                    </section>
                                                </div>                                                                                                                
                                            </div>                                                                                                                                                                                                     

                                        <div class="form-row">                                          
                                                
                                            <div class="form-group col-md-6">
                                                <label>Responsable</label>
                                                <input type="text" class="form-control" placeholder="Responsable" required autofocus
                                                #_opeTarea.cResponsable="ngModel" name="cResponsable" [(ngModel)] = "_opeTarea.cResponsable">                                                 
                                            </div>
                                                                                      
                                            <div class="form-group col-md-6">
                                                <label>Actividad</label>
                                                <input type="test" class="form-control" placeholder="Actividad" required
                                                #_opeTarea.cActividad="ngModel" name="cActividad" [(ngModel)]= "_opeTarea.cActividad">                                                 
                                            </div>   
                                        </div>
                                            
                                        <div class="form-row">
                                            <div class="form-group col-md-4">
                                                <label>Solicitante</label>
                                                <input type="text" class="form-control" placeholder="Solicitante" required
                                                #_opeTarea.cSolicitante="ngModel" name="cSolicitante" [(ngModel)]= "_opeTarea.cSolicitante">                                                                                                       
                                            </div>

                                            <div class="form-group col-md-2">
                                                <label>Avance</label>
                                                <input type="text" class="form-control" placeholder="Avance" required
                                                #_opeTarea.deAvance="ngModel" name="deAvance" [(ngModel)]= "_opeTarea.deAvance">                    
                                            </div> 

                                            <div class="form-group col-md-3">
                                                <label>Fecha de Solicitud</label>
                                                <input type="date" class="form-control" placeholder="Fecha de solicitud" required
                                                #_opeTarea.dtSolicitud="ngModel" name="dtSolicitud" [(ngModel)] = '_opeTarea.dtSolicitud'>                                                  
                                            </div>
                                                    
                                            <div class="form-group col-md-3">
                                                <label>Fecha de Inicio</label>
                                                <input type="date" class="form-control" placeholder="Fecha de Inicio" required
                                                #_opeTarea.dtInicio="ngModel" name="dtInicio" [(ngModel)] = '_opeTarea.dtInicio'>                                                    
                                            </div>                                                                                                                                                                                                  
                                        </div>
                                            
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label>Descripcion</label>
                                                <input type="Observaciones" class="form-control" placeholder="descripcion" required
                                                    #_opeTarea.cDescripcion="ngModel" name="cDescripcion" [(ngModel)]= "_opeTarea.cDescripcion">
                                            </div>     

                                            <div class="form-group col-md-6">
                                                <label>Observaciones</label>
                                                <textarea type="Observaciones" class="form-control" placeholder="Nota" required
                                                #_opeTarea.cNota="ngModel" name="cNotas" [(ngModel)]= "_opeTarea.cNota"></textarea>                    
                                            </div>                                                                                           
                                        </div>    
                                    </div>
                                                
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                        <button type="submit" (click)="refresh()" class="btn btn-primary">Guardar</button>                                                   
                                    </div>                                                                                                                      
                                </div>             
                              </div> 
                          </div>                                  
                       </form>                     
                    </td>
                 <td>         
                <!-- Modal crear nueva Subtarea -->
                <form #formNuevaSub= "ngForm" id = "formNuevaSub" (ngSubmit) = "crearSub()"> 
                    <div class="modal fade" id="crearSub" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"  aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Registra un nueva subtarea</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="modal-body">
                                <div class="form-row">                                                                                                
                                        <div class="form-group col-md-2">
                                            <label for="ID">ID Tarea</label></div>
                                            <div class="form-group col-sm-2">
                                                <input type="text" readonly onmousedown="return false;" class="form-control" placeholder="ID de la tarea" required autofocus
                                                #_opeTarea.iTarea="ngModel" name="iTarea" [(ngModel)]= "_nuevoSubTarea.iTarea">                                                                                                              
                                            </div>
                                </div>  
                                <div class="form-group ">
                                    <p>
                                        <label>Descripcion de la Subtarea</label>
                                        <input type="text" class="form-control" placeholder="Descripcion" required autofocus
                                        #_nuevoSubTarea.cDescripcion="ngModel" name="cDescripcion" [(ngModel)] = "_nuevoSubTarea.cDescripcion"><!--_nuevo es elobjeto y cCliente el campo-->
                                    </p>
                            
                                    <p>
                                        <label>Notas</label>
                                        <input type="text" class="form-control" placeholder="Notas" required
                                        #_nuevoSubTarea.cNota="ngModel" name="cNota" [(ngModel)] = "_nuevoSubTarea.cNotas">                      
                                    </p>
                                    <p>
                                        <label>Fecha</label>
                                        <input type="date" class="form-control" placeholder="Fecha" required
                                        #_nuevoSubTarea.dtCreacion="ngModel" name="dtCreacion" [(ngModel)] = "_nuevoSubTarea.dtCreado"  >                      
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                    <button type="submit" (click)="refresh()"  class="btn btn-primary">Guardar</button>
                                
                                </div>
                            </div> 
                        </div>  
                    </div> 
                </div>
            </form>     
        </td>
                        
                        <td>
                            <button type="button" value="Texto" readonly  (click)="registro(opTarea.iTarea)" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#modificar">
                            Editar</button>
                        </td>
                           
                        <td> 
                            <a href="#exampleModal-{{opTarea.iTarea}}" role="button" 
                                class="btn btn-sm btn-danger" data-toggle="modal" >
                                 Eliminar
                            </a>       
                        </td>
                        <td>
                            <button type="button" class="btn btn-sm btn-success"  (click)="registro(opTarea.iTarea)"  data-toggle="modal" data-target="#crearSub">
                                Nueva SubTarea</button>       
                        </td>  
                        <td>
                            <button type="button" value="Texto" readonly  (click)="Subtareas(opTarea)"   class="btn btn-sm btn-outline-success"
                             data-toggle="modal" data-target="#listaSub">
                            SubTareas</button>
                        </td>  
       
                        <!-- Modal-- se agrega el ID concatendo el campo para que borre el indicado -->
                             <div class="modal fade" id="exampleModal-{{opTarea.iTarea}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Eliminar tarea</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                            ¿Estas seguro que quieres borrar la tarea  
                                            <strong>{{opTarea.iTarea}} de {{opTarea.cResponsable}}</strong> ?
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                        <button type="submit" (click)="eliminar(opTarea.iTarea)" (click)="refresh()" class="btn btn-danger">Eliminar</button>
                                      </div>
                                    </div>
                                </div>
                            </div>                            
    
               </tbody>
            </table>       
    </div>        
</div>