.fondo-color{
    padding: 50px 100px 100px 100px;
    background: #6c8399;
    width: 100%;
    max-height: 100%;
}

.text{
    background: #CDCFD0;
    max-width: 100%;
    color: black;
}
.text-center{
    color: black;
}

.fixed-top { 
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;

}
.bg-dark {
    background-color: #6c8399!important;
}
@media (min-width: 768px)
.navbar-expand-md {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
    
}

.modal-body{
    color: rgb(49, 146, 236);
}
.dropdown-item{
    color: black;
    padding: 20px 16px;
    text-decoration: none;
    display: block;
  }
 