
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="text-center" >
        <h1>Tarea</h1>  
    </div>    
</nav>
    <div class="span6 fondo-color">
    <div class="text" >

    <div class="container-fluid">
    <div class="container">

        <form>
            <div class="form-group ">

                <p> 
                    <label>Responsable</label>
                    <input type="text" class="form-control" placeholder="Responsable" required>
                </p>
                <p>
                    <label>Descripcion</label>
                    <textarea type="Observaciones" class="form-control" placeholder="Descripcion" required></textarea>
                </p>
                <p>
                    <label>Notas</label>
                    <textarea type="Observaciones" class="form-control" placeholder="Notas" required></textarea>
                 </p>
                 
                <p>
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Usuario</label>
                    <input type="text" class="form-control" placeholder="Usuario" required autofocus>
        
                </p>
            
            <div class="form-group"></div>
            
                <input type="submit" value="Guardar" class="btn btn-success"/>
            </div>
        </form>
        
    </div>
