<menunav></menunav>

<div class="span6 fondo-color" >
    <!--color linea del menu-->
    <nav class="navbar navbar-light" color="purple;" style="background-color: #90A5B3;">
        <a class="navbar-brand">                            
        </a>
        <!--Buscador-->
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
            #ipcActividad="ngModel" name="ipcBusqueda" [(ngModel)]='ipcBusqueda'>
            <button class="btn btn-outline-primary my-2 my-sm-0" (click)="busqueda()" type="submit">Search</button>
        </form>
    </nav>
<div class="text" >       
    <div class="container-fluid">
     <!-- Modal crear nueva Subtarea -->
     <form #formNuevo= "ngForm" id = "formNuevoSub" (ngSubmit) = "crearSub()"> 
            <div class="modal fade" id="crearSub" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"  aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Registra un nueva subtarea</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                      </div>

                    <div class="modal-body">
                        <div class="form-row">         
                                                                                                                               
                            <div class="form-group col-md-2">
                                <label for="ID">ID</label></div>
                                    <div class="form-group col-sm-1">
                                        <input type="text" readonly onmousedown="return false;" class="form-control" placeholder="ID de la tarea" required autofocus
                                        #_nuevo.iTarea="ngModel" name="iTarea" [(ngModel)]= "_opeTarea.iTarea" 
                                        *ngFor="let opeTarea of _opeTareas" [value]="_opeTarea.iTarea">  
                                                                                                                                                  
                                    </div>                            
                            </div>

                        <div class="form-group ">
                            <p>
                                <label>Descripcion</label>
                                <input type="text" class="form-control" placeholder="Descripcion de " required autofocus
                                #_nuevo.cDescripcion="ngModel" name="cDescripcion" [(ngModel)] = "_nuevo.cDescripcion"><!--_nuevo es elobjeto y cCliente el campo-->
                            </p>
                    
                            <p>
                                <label>Notas</label>
                                <input type="text" class="form-control" placeholder="Notas" required
                                #_nuevo.cNotas="ngModel" name="cNotas" [(ngModel)] = "_nuevo.cNotas">                      
                            </p>
                            <p>
                                <label>Fecha</label>
                                <input type="date" class="form-control" placeholder="Fecha" required
                                #_nuevo.dtCreacion="ngModel" name="dtCreacion" [(ngModel)] = "_nuevo.dtCreacion"  >                      
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="submit"   class="btn btn-primary">Guardar</button>
                        
                        </div>
                    </div> 
                </div>  
            </div> 
        </div>
    </form>
       
    <div class="table-responsive-xl">
            <table class="table table-hover">
                <tr class="table-primary" >
                    <th>Id SubTarea</th>
                    <th>Id Tarea</th>
                    <th>Descripcion</th>
                    <th>Notas</th>
                    <th>Creado</th>
                </tr>
        
            <tbody>
             <!-- imprime valores variable html let of array ts-->
                <tr *ngFor="let opSubTarea of _opeSubTareas"> 
                    <td>{{opSubTarea.iSubTarea}}</td>
                    <td>{{opSubTarea.iTarea}}</td>
                    <td>{{opSubTarea.cDescripcion}}</td>
                    <td>{{opSubTarea.cNotas}}</td>
                    <td>{{opSubTarea.dtCreado}} </td>
                      
                        <!--Modal-- Formulario para Editar ccc-->               
                          <td>                                         
                            <form class="form-row" #formEditaSub ="ngForm" id ="formEditaSub" (ngSubmit) = " modificaSub()">
                                <div class="modal fade-md " id="modificaSub"  tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-md">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="myLargeModalLabel">SubTarea</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div> 
                                        <div class="modal-body">
                                            <div class="form-row">                                                      
                                                <div class="form-group col-md-3">
                                                    <label for="ID">ID Subtarea</label></div>
                                                    <div class="form-group col-sm-2">
                                                        <input type="text" readonly onmousedown="return false;" class="form-control" placeholder="ID de la Subtarea" required autofocus
                                                        #_opeSubTarea.iSubTarea="ngModel" name="iSubTarea" [(ngModel)]= "_opeSubTarea.iSubTarea">                                                                                                                 
                                                    </div>
                                                    <div class="form-group col-md-2">
                                                        <label for="ID">ID Tarea</label></div>
                                                        <div class="form-group col-sm-2">
                                                            <input type="text" readonly onmousedown="return false;" class="form-control" placeholder="ID de la tarea" required autofocus
                                                            #_opeTarea.iTarea="ngModel" name="iTarea" [(ngModel)]= "_opeSubTarea.iTarea">                                                                                                                 
                                                        </div>
                                             </div>  
                                               
                                             <p>
                                                    <label>Descripcion</label>
                                                    <input type="text" class="form-control" placeholder="Descripcion de " required 
                                                    #_opeSubTarea.cDescripcion="ngModel" name="cDescripcion" [(ngModel)] = "_opeSubTarea.cDescripcion"><!--_nuevo es elobjeto y cCliente el campo-->
                                                </p>
                                        
                                                <p>
                                                    <label>Notas</label>
                                                    <input type="text" class="form-control" placeholder="Notas" required
                                                    #_opeSubTarea.cNotas="ngModel" name="cNotas" [(ngModel)] = "_opeSubTarea.cNotas">                      
                                                </p>
                                                <p>
                                                    <label>Fecha</label>
                                                    <input type="date" class="form-control" placeholder="Fecha" required
                                                    #_opeSubTarea.dtCreacion="ngModel" name="dtCreacion" [(ngModel)] = "_opeSubTarea.dtCreacion">                      
                                                </p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                <button type="submit"   class="btn btn-primary">Guardar</button>
                                            
                                            </div>  
                                      </div>
                                    </div>                                                                                                                                                                                               
                                </div>            
                        </form> 
                    </td>
                    
                     <td>
                            <button type="button" value="Texto" readonly  (click)="registro(opSubTarea.iSubTarea)" class="btn btn-sm btn-primary" 
                            data-toggle="modal" data-target="#modificaSub">
                            Editar</button>
                        </td>
                           
                        <td> 
                            <a href="#exampleModal-{{opSubTarea.iSubTarea}}" role="button" 
                                class="btn btn-sm btn-danger" data-toggle="modal" >
                                 Eliminar
                            </a>       
                        </td>
                        <!-- Modal-- se agrega el ID concatendo el campo para que borre el indicado -->
                        <div class="modal fade" id="exampleModal-{{opSubTarea.iSubTarea}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Eliminar tarea</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                            ¿Estas seguro que quieres borrar la Subtarea  
                                            <strong>{{opSubTarea.iSubTarea}}  {{opSubTarea.cDescripcion}}</strong>
                                            de la tarea
                                            <strong>{{opSubTarea.iTarea}}</strong> ?
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                        <button type="submit" (click)="eliminar(opSubTarea.iSubTarea)" (click)="refresh()" class="btn btn-danger">Eliminar</button>
                                      </div>
                                    </div>
                                </div>
                            </div>  
                    </tr>                    
            </tbody>
        </table>
    </div>




    

     
   