<menunav></menunav>

    <div class="span6 fondo-color" >
        <!--color linea del menu-->
        <nav class="navbar navbar-light" color="purple;" style="background-color: #90A5B3;">
             <a class="navbar-brand">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
                Nuevo Usuario </button>                             
            </a>
            <!--Buscador-->
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" 
                #ipcUsuario="ngModel" name="ipcBusqueda" [(ngModel)]='ipcBusqueda'>
                <button class="btn btn-outline-primary my-2 my-sm-0" (click)="busqueda()" type="submit">Search</button>
            </form>
        </nav>
     
    <div class="text" >       
    <div class="container-fluid">
        <!-- Modal -->
    <form #formNuevo= "ngForm" (ngSubmit) ="crear()" id= "formNuevo">
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Registra un nuevo Usuario</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                <div class="modal-body">
                    <div class="form-group ">
    
                        <div class="form-row">
                            <div class="form-group col-md-7">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Usuario</label>
                                <input type="text" class="form-control" placeholder="Usuario" required autofocus
                                #cUsuario="ngModel" name="cUsuario" [(ngModel)] = "_nuevo.cUsuario">       
                            </div>
                            <div class="form-group col-md-5">
                                <label for="password"> Password</label>
                                <input type="password" name="password" class="form-control" placeholder="Password" required
                                #cPassword="ngModel" name="cPassword" [(ngModel)] = '_nuevo.cPassword'>
                            </div>
                        </div>    
                        <div class="form-row">
                            <div class="form-group col-md-7">
                                <label>Nombre</label>
                                <input type="text" class="form-control" placeholder="Nombre del Usuario" required
                                #cNombre="ngModel" name="cNombre" [(ngModel)] = '_nuevo.cNombre'>
                           </div>
                  
                            <div class="form-group col-md-5">
                                <label>Fecha de Nacimiento</label>
                                <input type="date"  class="form-control" placeholder="Fecha completa" required
                                #dtNacimiento="ngModel" name="dtNacimiento" [(ngModel)] = '_nuevo.dtNacimiento'>
                            </div>
                        </div>
                
                            <p>
                                <label>Observaciones</label>
                                <textarea type="Observaciones" class="form-control" placeholder="Observaciones" required
                                #cObc="ngModel" name="cObc" [(ngModel)] = '_nuevo.cObc'></textarea>
                            </p>
                    </div>
                </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" (click)="refresh()" class="btn btn-primary">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
</form>  
    <br><br>
    
    <div class="col-lg-10">
        <table class="table table-hover">
            <thead class="thead-default">
                <tr class="table-primary" >
                    <th>Id Usuario</th>
                    <th>Usuario</th>
                    <th>Contraseña</th>
                    <th>Nombre</th>
                    <th>Fecha</th>
                    <th>Activo</th>
                    <th>Observaciones</th>
                </tr>
            </thead>
            <tbody>
                <!-- imprime valores variable html let of array-modelo ts-->
                <tr *ngFor="let ctUsuario of _catUsuarios"> 
                    <td>{{ctUsuario.iUsuario}}</td>
                    <td>{{ctUsuario.cUsuario}}</td>
                    <td>{{ctUsuario.cPassword}}</td>
                    <td>{{ctUsuario.cNombre}}</td>
                    <td>{{ctUsuario.dtNacimiento}}</td>
                    <td>{{ctUsuario.lActivo ? "SI":"NO"}}</td>
                    <td>{{ctUsuario.cObc}}</td>                                  
                    <td>  

                         <!--Modal-- Formulario para Editar ccc-->        
                            <button type="text" value="Texto" readonly  (click)="registro(ctUsuario.iUsuario)" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#modificar">
                            Editar</button> 
                            
                            <form class="form-row" #formEditar ="ngForm" id ="formEditar" (ngSubmit) = "modificar()">
                              <div class="modal fade" id="modificar"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Usuario</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div> 
                                        <div class="modal-body">
                                          <div class="form-group ">
                                              <p>
                                                <label>ID</label>
                                                <input type="text" readonly onmousedown="return false;" class="form-control" placeholder="ID del Usuario" required autofocus
                                                #_catUsuario.iUsuario="ngModel" name="iUsuario" [(ngModel)]= "_catUsuario.iUsuario">                                                                                                   
                                              </p>
                                              <p>
                                                <label>Usuario</label>
                                                <input type="text"  class="form-control" placeholder="Usuario" required autofocus
                                                #_catUsuario.cUsuario="ngModel" name="cUsuario" [(ngModel)]= "_catUsuario.cUsuario">
                                                                                                    
                                              </p>
                                            <div class="form-row">
                                                <div class="form-group col-md-7">
                                                    <label>Nombre del Usuario</label>
                                                    <input type="text" class="form-control" placeholder="Nombre del Usuario" required autofocus
                                                    #_catUsuario.cNombre="ngModel" name="cNombre"  [(ngModel)] = "_catUsuario.cNombre" >                                                                                      
                                                </div>
                                                <div class="form-group col-md-5">
                                                    <label>Fecha de Nacimiento</label>
                                                    <input type="date" class="form-control" placeholder="Fecha completa" required
                                                    #_catUsuario.dtNacimiento="ngModel" name="dtNacimiento" [(ngModel)] = '_catUsuario.dtNacimiento'>
                                                </div>
                                            </div>
                                        
                                            <div class="form-group"></div>
                                                <p>
                                                    <label>Observaciones</label>
                                                    <textarea type="Observaciones" class="form-control" placeholder="Observaciones" required
                                                     #_catUsuario.cObc="ngModel" name="cObc" [(ngModel)] = '_catUsuario.cObc'></textarea>
                                                </p>
                                            <p>
                                              <label>Activo</label>
                                              <input type="checkbox" readonly onmousedown="return false;"  aria-label="Text input with checkbox" required autofocus
                                              #lActivo="ngModel" name="lActivo"   [(ngModel)] = "_catUsuario.lActivo" >                                                                                      
                                            </p>
                                          </div>
                                              
                                          <br>                      
                                          </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                              <button type="submit" (click)="refresh()" class="btn btn-primary">Guardar</button>
                                            </div>
                                      </div>    
                                  </div>
                              </div>
                            </form>                  
            
                           
                         
                        </td>
                    <td>
                        <a href="#exampleModal-{{ctUsuario.iUsuario}}" role="button" 
                            class="btn btn-sm btn-danger" data-toggle="modal" >
                            Eliminar
                        </a>      
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal-{{ctUsuario.iUsuario}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Eliminar usuario</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        ¿Estas seguro que quieres borrar el usuario
                                         <strong>{{ctUsuario.cUsuario}} con ID {{ctUsuario.iUsuario}}</strong> ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                        <button type="submit" (click)="eliminar(ctUsuario.iUsuario)" (click)="refresh()"  class="btn btn-danger">Eliminar</button>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </td>                                      
                </tr>                       
            </tbody>
        </table>
    </div>
  </div>
