
  <!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark secondary-color lighten-1">
  <a class="navbar-brand" href="menu">Menu</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
    aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="cliente">Cliente
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"href="tarea">Tarea</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="subtarea">SubTarea</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="estatus">Estatus Tarea</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="tipo">Tipo Tarea</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="usuario">Usuario</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light">1
          <i class="fas fa-envelope"></i>
        </a>
      </li>
      <li class="nav-item avatar dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" class="rounded-circle z-depth-0" alt="avatar image">
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-secondary" aria-labelledby="navbarDropdownMenuLink-55">
          <a class="dropdown-item" href="#">Cerrar Sesión</a>
          
        </div>
      </li>
    </ul>
  </div>
</nav>
<!--/.Navbar -->
<!--
<nav class="navbar navbar-default"></nav>
<nav class="navbar-expand-md navbar-dark" >  
    <div class="text">
        <h1>Menu</h1>
      </div>  
     
        <ul>
            <span class="glyphicon glyphicon-home"></span>
            <a [routerLink]= "['/menu']"> Menu</a>
                            
            <span class="glyphicon glyphicon-briefcase"></span>
            <a [routerLink]= "['/cliente']"> Cliente</a>
                    
            <span class="glyphicon glyphicon-list-alt"></span>
            <a [routerLink]= "['/tarea']"> Tarea </a>

            <span class="glyphicon glyphicon-list-alt"></span>
            <a [routerLink]= "['/subtarea']"> SubTarea </a>
            
            <span class="glyphicon glyphicon-stats"></span>
            <a [routerLink]= "['/estatus']"> Estatus Tarea </a>
            
            <span class="glyphicon glyphicon-book"></span>
            <a [routerLink]= "['/tipo']"> Tipo Tarea </a>
            
            <span class="glyphicon glyphicon-user"></span>
            <a [routerLink]= "['/usuario']"> Usuario </a>
        </ul>            
</nav>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="text-center" >
          <h1>Menu</h1>
        </div>
      </nav> -->
